{% extends "forum/template.html.twig" %}

{% block body %}
    {% if cat_child %}
    <div class="forum-bloc">
        <div class="title">
            <a href="{{ url('forum_show', {'slug': cat_child.slug}) }}">{{ cat_child.name }}</a>
        </div>
        <div class="content">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>3</strong> {% trans from 'forumshow'%}count.topics{% endtrans %}</p>
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'home'%}lastpost.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>3</strong> {% trans from 'forumshow'%}count.topics{% endtrans %}</p>
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'home'%}lastpost.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>3</strong> {% trans from 'forumshow'%}count.topics{% endtrans %}</p>
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'home'%}lastpost.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="topic-bloc mt-4">
        <div class="title">
            Topics
        </div>
        <div class="content">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>{% trans from 'layout'%}other.by{% endtrans %} <img src="https://dummyimage.com/15/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline"> <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am</p>
                </li>
                <li class="stats d-none d-lg-block">
                    <p><strong>23</strong> {% trans from 'forumshow'%}count.posts{% endtrans %}</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/50/000/fff.png" alt="deathart" class="rounded d-none d-lg-inline">
                    <span class="info">
                        <span class="recent-post-time">
                            {% trans with {'%name%': 'Deathart'} from 'forumshow'%}lastreply.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}