{% extends "forum/template.html.twig" %}

{% block body %}
    <div class="forum-bloc">
        <div class="title bg-purple rounded-top">
            Lorem ipsum dolor sit amet
            <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
        </div>
        <div class="content rounded-bottom">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum-bloc">
        <div class="title bg-purple rounded-top">
            Lorem ipsum dolor sit amet
            <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
        </div>
        <div class="content rounded-bottom">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum-bloc">
        <div class="title bg-purple rounded-top">
            Lorem ipsum dolor sit amet
            <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
        </div>
        <div class="content rounded-bottom">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum-bloc">
        <div class="title bg-purple rounded-top">
            Lorem ipsum dolor sit amet
            <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
        </div>
        <div class="content rounded-bottom">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="forum-bloc">
        <div class="title bg-purple rounded-top">
            Lorem ipsum dolor sit amet
            <small>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</small>
        </div>
        <div class="content rounded-bottom">
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
            <ul>
                <li class="icon">
                    <i class="fa fa-comments-o"></i>
                </li>
                <li class="title">
                    <a href="#">Lorem ipsum</a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                </li>
                <li class="stats">
                    <p><strong>3</strong> Topics</p>
                    <p><strong>23</strong> Posts</p>
                </li>
                <li class="last-post">
                    <img src="https://dummyimage.com/75x75/000/fff.png" alt="deathart" class="rounded">
                    <span class="info">
                        <a href="#" class="recent-post">Global Topic in Information C…</a><br  />
                        <span class="recent-post-time">
                            by <a href="#">deathart</a> Thu Jun 22, 2017 9:38 am
                        </span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}