body,
html {
  height: 100%;
  font: 300 14px/1.7 Roboto, sans-serif;
}

body {
  padding-top: 56px;
  margin: 0;
  height: 100%;
}

.navigation-bot-header {
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #6f42c1;
  color: #eeeeee;
}

.navigation-bot-header a {
  color: #eeeeee;
}

.navigation-bot-header a:hover, .navigation-bot-header a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.navigation-bot-header .social > a:nth-child(1n+2) {
  padding-left: 10px;
}

.navigation-bot-header .breadcrumb {
  background-color: transparent;
  padding: 0 1rem;
  margin-bottom: 0;
}

.navigation-bot-header .breadcrumb > .breadcrumb-item::before {
  color: #eeeeee;
}

.navigation-bot-header .breadcrumb > .breadcrumb-item.active {
  color: #eeeeee;
}

.chatbox-bloc {
  display: none;
}

.chatbox-bloc > .title {
  color: #eeeeee;
  padding: 15px;
}

.chatbox-bloc > .title > a {
  color: #eeeeee;
}

.chatbox-bloc > .title > a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.chatbox-bloc > .title > span {
  margin-right: 5px;
  cursor: pointer;
}

.chatbox-bloc > .title > span:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.chatbox-bloc > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
  padding-right: 15px;
  padding-left: 15px;
}

.chatbox-bloc > .content .chat {
  height: 250px;
  padding: 0;
}

.chatbox-bloc > .content .chat .message {
  height: 210px;
  overflow: hidden;
  margin-bottom: 0;
}

.chatbox-bloc > .content .chat .message > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chatbox-bloc > .content .chat .message > ul > li {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px dotted rgba(111, 66, 193, 0.8);
  width: 100%;
}

.chatbox-bloc > .content .chat .message > ul > li.float-left > .chat-body {
  margin-left: 45px;
}

.chatbox-bloc > .content .chat .message > ul > li.float-right > .chat-body {
  margin-right: 45px;
}

.chatbox-bloc > .content .chat .message > ul > li.float-right > .chat-body > p {
  text-align: right;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > a {
  color: #444444;
  font-weight: bold;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > a:hover {
  text-decoration: none;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small {
  color: #6f42c1;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small.float-left {
  padding-left: 2px;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small.float-right {
  padding-right: 2px;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > p {
  margin: 0;
  color: #777777;
  font-size: 80%;
}

.chatbox-bloc > .content .chat > form {
  height: 40px;
  border-top: 1px solid rgba(111, 66, 193, 0.5);
}

.chatbox-bloc > .content .chat > form > input {
  width: 90%;
}

.chatbox-bloc > .content .chat > form > button {
  width: 10%;
}

.chatbox-bloc > .content .users {
  border-left: 1px solid rgba(111, 66, 193, 0.5);
  height: 250px;
  overflow: hidden;
}

.chatbox-bloc > .content .users > ul {
  margin-bottom: 0;
}

.chatbox-bloc > .content .users > ul > li {
  padding: 0 3px 2px 3px;
}

.chatbox-bloc > .content .users > ul > li:nth-child(1n+2) {
  border-top: 1px solid rgba(111, 66, 193, 0.5);
}

.chatbox-bloc > .content .users > ul > li > a {
  color: #444444;
  font-weight: bold;
}

.chatbox-bloc > .content .users > ul > li > a:hover {
  text-decoration: none;
}

.forum-bloc:nth-child(1n+2) {
  margin-top: 3%;
}

.forum-bloc > .title {
  color: #eeeeee;
  padding: 15px;
}

.forum-bloc > .title > small {
  display: block;
}

.forum-bloc > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
}

.forum-bloc > .content a {
  color: #6f42c1;
  font-weight: bold;
}

.forum-bloc > .content a:hover {
  color: rgba(111, 66, 193, 0.5);
  text-decoration: none;
}

.forum-bloc > .content > ul {
  padding-left: 0;
  list-style: none;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.forum-bloc > .content > ul:nth-child(1n+2) {
  border-top: 1px solid rgba(111, 66, 193, 0.5);
}

.forum-bloc > .content > ul > li {
  display: inline;
  margin: 2px;
}

.forum-bloc > .content > ul > li.icon {
  width: 5%;
  height: 75px;
  position: relative;
}

.forum-bloc > .content > ul > li.icon > i {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 25%;
  top: 25%;
}

.forum-bloc > .content > ul > li.title {
  height: 75px;
  width: 55%;
  position: relative;
}

.forum-bloc > .content > ul > li.title > a {
  display: inline-block;
  padding-right: .5em;
  line-height: 1.2;
  font-weight: 600;
  position: absolute;
  top: 20%;
}

.forum-bloc > .content > ul > li.title > p {
  position: absolute;
  top: 40%;
}

.forum-bloc > .content > ul > li.stats {
  height: 75px;
  width: 10%;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
}

.forum-bloc > .content > ul > li.stats > p {
  display: inline-block;
  margin: 0 30px 0 0;
  font-size: 14px;
  line-height: 18px;
}

.forum-bloc > .content > ul > li.stats > p > strong {
  display: block;
}

.forum-bloc > .content > ul > li.last-post {
  height: 75px;
  width: 29%;
  position: relative;
}

.forum-bloc > .content > ul > li.last-post > img {
  display: inline-block;
  float: left;
}

.forum-bloc > .content > ul > li.last-post > .info {
  margin-left: 1%;
  float: left;
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: absolute;
  top: 15%;
}

.topic-bloc > .title {
  color: #eeeeee;
  padding: 15px;
}

.topic-bloc > .title > small {
  display: block;
}

.topic-bloc > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
}

.topic-bloc > .content a {
  color: #6f42c1;
  font-weight: bold;
}

.topic-bloc > .content a:hover {
  color: rgba(111, 66, 193, 0.5);
  text-decoration: none;
}

.topic-bloc > .content > ul {
  padding-left: 0;
  list-style: none;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.topic-bloc > .content > ul:nth-child(1n+2) {
  border-top: 1px solid rgba(111, 66, 193, 0.5);
}

.topic-bloc > .content > ul > li {
  display: inline;
  margin: 2px;
}

.topic-bloc > .content > ul > li.icon {
  width: 5%;
  height: 50px;
  position: relative;
}

.topic-bloc > .content > ul > li.icon > i {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 25%;
  top: 25%;
}

.topic-bloc > .content > ul > li.title {
  height: 50px;
  width: 55%;
  position: relative;
}

.topic-bloc > .content > ul > li.title > a {
  display: inline-block;
  padding-right: .5em;
  line-height: 1.2;
  font-weight: 600;
  position: absolute;
  top: 20%;
}

.topic-bloc > .content > ul > li.title > p {
  position: absolute;
  top: 40%;
}

.topic-bloc > .content > ul > li.stats {
  height: 50px;
  width: 10%;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
}

.topic-bloc > .content > ul > li.stats > p {
  display: inline-block;
  margin: 0 30px 0 0;
  font-size: 14px;
  line-height: 18px;
}

.topic-bloc > .content > ul > li.last-post {
  height: 50px;
  width: 29%;
  position: relative;
}

.topic-bloc > .content > ul > li.last-post > img {
  display: inline-block;
  float: left;
}

.topic-bloc > .content > ul > li.last-post > .info {
  margin-left: 1%;
  float: left;
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: absolute;
  top: 25%;
}

.sidebar-bloc:nth-child(1n+2) {
  margin-top: 5%;
}

.sidebar-bloc > .title {
  color: #eeeeee;
  padding: 15px;
}

.sidebar-bloc > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
  padding: 15px 20px;
}

.sidebar-bloc > .content a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #444444;
  line-height: 1.2;
  font-weight: 600;
}

.sidebar-bloc > .content a:hover, .sidebar-bloc > .content a:focus {
  color: #5D5AFF;
  outline: 0;
}

.post-bloc > .title {
  color: #eeeeee;
  padding: 15px;
}

.post-bloc > .title > .rat {
  cursor: pointer;
}

.post-bloc > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
}

.post-bloc > .content > .posts {
  margin: 0;
}

.post-bloc > .content > .posts:nth-child(1n+2) {
  border-top: 1px solid rgba(111, 66, 193, 0.5);
}

.post-bloc > .content > .posts > .user-info {
  border-right: 1px dashed rgba(111, 66, 193, 0.5);
  min-height: 350px;
  padding: 5px 10px;
}

.post-bloc > .content > .posts > .user-info > .username {
  text-align: center;
  color: #6f42c1;
  display: block;
  font-weight: bold;
}

.post-bloc > .content > .posts > .user-info > .username:hover {
  color: rgba(111, 66, 193, 0.5);
  text-decoration: none;
}

.post-bloc > .content > .posts > .user-info > .etat {
  text-align: center;
  display: block;
}

.post-bloc > .content > .posts > .user-info > .avatar {
  text-align: center;
  display: block;
  margin: 15px 0;
}

.post-bloc > .content > .posts > .user-info > .avatar > img {
  width: 85px;
  height: 85px;
}

.post-bloc > .content > .posts > .user-info > .rang {
  text-align: center;
}

.post-bloc > .content > .posts > .user-info > .rang > .name {
  display: block;
}

.post-bloc > .content > .posts > .user-info > .rang > .rating {
  display: block;
}

.post-bloc > .content > .posts > .user-info > .info {
  border-top: 1px dashed rgba(111, 66, 193, 0.5);
  padding-top: 10px;
}

.post-bloc > .content > .posts > .user-info > .info > li > .name {
  text-align: left;
}

.post-bloc > .content > .posts > .user-info > .info > li > .value {
  float: right;
  text-align: right;
}

.post-bloc > .content > .posts > .user-info > .stats {
  border-top: 1px dashed rgba(111, 66, 193, 0.5);
  padding-top: 10px;
}

.post-bloc > .content > .posts > .user-info > .stats > li > .name {
  text-align: left;
}

.post-bloc > .content > .posts > .user-info > .stats > li > .value {
  float: right;
  text-align: right;
}

.post-bloc > .content > .posts > .message {
  min-height: 350px;
  padding: 5px 10px;
}

.post-bloc > .content > .posts > .message > .post_head {
  font-size: 11px;
  padding-bottom: 4px;
  margin-bottom: 15px;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count {
  float: right;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count > a {
  font-weight: bold;
  color: #6f42c1;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count > a:hover {
  color: rgba(111, 66, 193, 0.5);
  text-decoration: none;
}

.post-bloc > .content > .posts > .action {
  padding: 5px 10px;
  border-top: 1px dashed rgba(111, 66, 193, 0.5);
  text-align: right;
}

.post-bloc > .content > .posts > .action > a {
  color: #6f42c1;
}

.post-bloc > .content > .posts > .action > a:hover {
  color: rgba(111, 66, 193, 0.5);
  text-decoration: none;
}

.post-reply > .title {
  color: #eeeeee;
  padding: 15px;
}

.post-reply > .content {
  border: 1px solid rgba(111, 66, 193, 0.5);
}

.post-reply > .content > form {
  padding: 15px;
}

.post-reply > .content > form > .form-group > .col-form-label {
  text-align: center;
}

.post-reply > .content > form > .form-group > .col-sm-10 > textarea {
  margin-top: 15px;
}

.post-reply > .content > form > .form-group > .col-sm-10 > button {
  float: right;
  margin-top: 15px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-top: 2%;
}

.footer .footer-about > p {
  font-size: 14px;
  line-height: 22px;
}

.footer .footer-about > .social > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.footer .footer-about > .social > ul > li {
  float: left;
}

.footer .footer-about > .social > ul > li > a {
  display: block;
  margin-right: 15px;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #eeeeee;
}

.footer .footer-about > .social > ul > li > a:hover, .footer .footer-about > .social > ul > li > a:focus {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: rgba(255, 255, 255, 0.5);
}

.footer .footer-useful-links > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-useful-links > ul > li {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 4px;
}

.footer .footer-useful-links > ul > li > a {
  border-bottom: 1px dotted #fff;
  display: block;
  margin: 2px 0;
  padding-bottom: 5px;
  text-transform: capitalize;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #eeeeee;
}

.footer .footer-useful-links > ul > li > a:hover, .footer .footer-useful-links > ul > li > a:focus {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: rgba(255, 255, 255, 0.5);
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: rgba(111, 66, 193, 0.5);
  color: #eeeeee;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #6f42c1;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-wrapper.scroll--rtl {
  direction: rtl;
}

.scroll-element {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
}

.scroll-element div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-chatbox-messages > .scroll-element,
.scroll-chatbox-messages > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-chatbox-messages > .scroll-element {
  background-color: #ffffff;
}

.scroll-chatbox-messages > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_outer,
.scroll-chatbox-messages > .scroll-element .scroll-element_track,
.scroll-chatbox-messages > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-chatbox-messages > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
}

.scroll-chatbox-messages > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}

.scroll-chatbox-messages > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* scrollbar height/width & offset from container borders */
.scroll-chatbox-messages > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}

.scroll-chatbox-messages > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}

.scroll-chatbox-users > .scroll-element,
.scroll-chatbox-users > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-chatbox-users > .scroll-element {
  background-color: #ffffff;
}

.scroll-chatbox-users > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px;
}

.scroll-chatbox-users > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px;
}

.scroll-chatbox-users > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-chatbox-users > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}

.scroll-chatbox-users > .scroll-element .scroll-element_outer,
.scroll-chatbox-users > .scroll-element .scroll-element_track,
.scroll-chatbox-users > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-chatbox-users > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
}

.scroll-chatbox-users > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}

.scroll-chatbox-users > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* scrollbar height/width & offset from container borders */
.scroll-chatbox-users > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}

.scroll-chatbox-users > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}

.scroll-chatbox-users > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}
