@import url("https://fonts.googleapis.com/css?family=Roboto:400");
html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 56px 0 225px 0;
  font: 300 14px/1.7 'Roboto', sans-serif;
  background-color: #e6e6e6;
}

.navbar-dark {
  background: #254760;
}

.jumbotron {
  margin-bottom: 0;
}

.navigation-bot-header {
  padding: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #254760;
  color: #eeeeee;
}

.navigation-bot-header a {
  color: #eeeeee;
}

.navigation-bot-header a:hover, .navigation-bot-header a:focus {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.navigation-bot-header .social > a:nth-child(1n+2) {
  padding-left: 10px;
}

.navigation-bot-header .breadcrumb {
  background-color: transparent;
  padding: 0 1rem;
  margin-bottom: 0;
}

.navigation-bot-header .breadcrumb > .breadcrumb-item::before {
  color: #eeeeee;
}

.navigation-bot-header .breadcrumb > .breadcrumb-item.active {
  color: #eeeeee;
}

.chatbox-bloc {
  display: none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.chatbox-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.chatbox-bloc > .title {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.chatbox-bloc > .title > a {
  color: #eeeeee;
}

.chatbox-bloc > .title > a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.chatbox-bloc > .title > span {
  margin-right: 5px;
  cursor: pointer;
}

.chatbox-bloc > .title > span:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.chatbox-bloc > .content {
  border: 1px solid #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #ffffff;
  padding-right: 15px;
  padding-left: 15px;
}

.chatbox-bloc > .content .chat {
  height: 250px;
  padding: 0;
}

.chatbox-bloc > .content .chat .message {
  height: 210px;
  overflow: hidden;
  margin-bottom: 0;
}

.chatbox-bloc > .content .chat .message > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chatbox-bloc > .content .chat .message > ul > li {
  padding: 5px 5px 5px 5px;
  border-bottom: 1px dotted #254760;
  width: 100%;
}

.chatbox-bloc > .content .chat .message > ul > li:last-child {
  border-bottom: none;
}

.chatbox-bloc > .content .chat .message > ul > li.float-left > .chat-body {
  margin-left: 45px;
}

.chatbox-bloc > .content .chat .message > ul > li.float-right > .chat-body {
  margin-right: 45px;
}

.chatbox-bloc > .content .chat .message > ul > li.float-right > .chat-body > p {
  text-align: right;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > a:hover, .chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > a:focus {
  color: #217ab9;
  outline: 0;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small {
  color: #254760;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small.float-left {
  padding-left: 2px;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > .header > small.float-right {
  padding-right: 2px;
}

.chatbox-bloc > .content .chat .message > ul > li > .chat-body > p {
  margin: 0;
  color: #777777;
  font-size: 80%;
}

.chatbox-bloc > .content .chat > form {
  height: 40px;
  border-top: 1px solid #217ab9;
}

.chatbox-bloc > .content .chat > form > input {
  width: 90%;
  border-radius: 0;
  border: 0;
}

.chatbox-bloc > .content .chat > form > input.form-control {
  border-radius: 0;
}

.chatbox-bloc > .content .chat > form > input.form-control:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.chatbox-bloc > .content .chat > form > button {
  width: 10%;
  border-radius: 0;
  line-height: 1.6;
}

.chatbox-bloc > .content .users {
  border-left: 1px solid #217ab9;
  height: 250px;
  overflow: hidden;
}

.chatbox-bloc > .content .users > ul {
  margin-bottom: 0;
}

.chatbox-bloc > .content .users > ul > li {
  padding: 0 3px 2px 3px;
}

.chatbox-bloc > .content .users > ul > li:nth-child(1n+2) {
  border-top: 1px solid #217ab9;
}

.chatbox-bloc > .content .users > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.chatbox-bloc > .content .users > ul > li > a:hover, .chatbox-bloc > .content .users > ul > li > a:focus {
  color: #217ab9;
  outline: 0;
}

.sidebar-bloc {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem !important;
}

.sidebar-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.sidebar-bloc:nth-child(1n+2) {
  margin-top: 5%;
}

.sidebar-bloc > .title {
  font-family: 'Roboto', sans-serif, Times, serif;
  border-top-right-radius: 0.25rem !important;
  border-top-left-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.sidebar-bloc > .content {
  border: 1px solid #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #ffffff;
  padding: 15px;
}

.sidebar-bloc > .content.no-border {
  border-bottom: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.sidebar-bloc > .content a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.sidebar-bloc > .content a:hover, .sidebar-bloc > .content a:focus {
  color: #217ab9;
  outline: 0;
}

.sidebar-bloc > .content > ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  min-height: 30px;
}

.sidebar-bloc > .content > ul > li {
  display: inline-block;
}

.sidebar-bloc > .content > ul > li > img {
  float: left;
}

.sidebar-bloc > .content > ul > li > .info {
  float: left;
  padding-left: 5px;
  margin-top: -5px;
}

.sidebar-bloc > .content > ul > li > .info > a {
  margin-top: -5px;
}

.sidebar-bloc > .content > ul > li > .info > small {
  display: block;
  margin-top: -5px;
}

.sidebar-bloc > .footer-bloc {
  padding: 15px;
  border: 1px solid #254760;
  background: #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  color: #ffffff;
}

.sidebar-bloc > .footer-bloc strong {
  font-weight: bold;
}

.forum-bloc {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.forum-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.forum-bloc:nth-child(1n+2) {
  margin-top: 2%;
}

.forum-bloc > .title {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.forum-bloc > .title > a {
  color: #ffffff;
}

.forum-bloc > .title > a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.forum-bloc > .title > small {
  display: block;
}

.forum-bloc > .content {
  border: 1px solid #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #ffffff;
}

.forum-bloc > .content a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.forum-bloc > .content a:hover, .forum-bloc > .content a:focus {
  color: #217ab9;
  outline: 0;
}

.forum-bloc > .content > ul {
  padding-left: 0;
  list-style: none;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.forum-bloc > .content > ul:nth-child(1n+2) {
  border-top: 1px solid #254760;
}

.forum-bloc > .content > ul > li {
  display: inline;
  margin: 2px;
}

.forum-bloc > .content > ul > li.icon {
  width: 5%;
  height: 75px;
  position: relative;
}

.forum-bloc > .content > ul > li.icon > i {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 25%;
  top: 25%;
}

.forum-bloc > .content > ul > li.title {
  height: 75px;
  width: 55%;
  position: relative;
}

.forum-bloc > .content > ul > li.title > a {
  display: inline-block;
  padding-right: .5em;
  line-height: 1.2;
  font-weight: 600;
  position: absolute;
  top: 20%;
}

.forum-bloc > .content > ul > li.title > p {
  position: absolute;
  top: 40%;
}

.forum-bloc > .content > ul > li.stats {
  height: 75px;
  width: 10%;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
}

.forum-bloc > .content > ul > li.stats > p {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
}

.forum-bloc > .content > ul > li.stats > p:nth-child(1n+2) {
  margin-left: 10px;
}

.forum-bloc > .content > ul > li.stats > p > strong {
  display: block;
  color: #254760;
  font-weight: bold;
}

.forum-bloc > .content > ul > li.last-post {
  height: 75px;
  width: 29%;
  position: relative;
}

.forum-bloc > .content > ul > li.last-post > img {
  display: inline-block;
  float: left;
}

.forum-bloc > .content > ul > li.last-post > .info {
  margin-left: 1%;
  float: left;
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: absolute;
  top: 15%;
}

.topic-bloc {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.topic-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.topic-bloc > .title {
  background: #254760;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  color: #ffffff;
  padding: 15px;
}

.topic-bloc > .title > small {
  display: block;
}

.topic-bloc > .content {
  border: 1px solid #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #ffffff;
}

.topic-bloc > .content a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.topic-bloc > .content a:hover, .topic-bloc > .content a:focus {
  color: #217ab9;
  outline: 0;
}

.topic-bloc > .content > ul {
  padding-left: 0;
  list-style: none;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
}

.topic-bloc > .content > ul:nth-child(1n+2) {
  border-top: 1px solid #254760;
}

.topic-bloc > .content > ul > li {
  display: inline;
  margin: 2px;
}

.topic-bloc > .content > ul > li.icon {
  width: 5%;
  height: 50px;
  position: relative;
}

.topic-bloc > .content > ul > li.icon > i {
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  left: 25%;
  top: 25%;
}

.topic-bloc > .content > ul > li.title {
  height: 50px;
  width: 55%;
  position: relative;
}

.topic-bloc > .content > ul > li.title > a {
  display: inline-block;
  padding-right: .5em;
  line-height: 1.2;
  font-weight: 600;
  position: absolute;
  top: 20%;
}

.topic-bloc > .content > ul > li.title > p {
  position: absolute;
  top: 40%;
}

.topic-bloc > .content > ul > li.stats {
  height: 50px;
  width: 10%;
  margin-top: 20px;
  font-size: 0;
  text-align: center;
}

.topic-bloc > .content > ul > li.stats > p {
  display: inline-block;
  margin: 0 30px 0 0;
  font-size: 14px;
  line-height: 18px;
}

.topic-bloc > .content > ul > li.last-post {
  height: 50px;
  width: 29%;
  position: relative;
}

.topic-bloc > .content > ul > li.last-post > img {
  display: inline-block;
  float: left;
}

.topic-bloc > .content > ul > li.last-post > .info {
  margin-left: 1%;
  float: left;
  margin-top: auto !important;
  margin-bottom: auto !important;
  position: absolute;
}

.post-bloc {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.post-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.post-bloc > .title {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.post-bloc > .title > .rat {
  cursor: pointer;
}

.post-bloc > .content {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border: 1px solid #217ab9;
  background: #ffffff;
}

.post-bloc > .content > .posts {
  margin: 0;
}

.post-bloc > .content > .posts:nth-child(1n+2) {
  border-top: 1px solid #217ab9;
}

.post-bloc > .content > .posts > .user-info {
  border-right: 1px dashed #217ab9;
  min-height: 350px;
  padding: 5px 10px;
}

.post-bloc > .content > .posts > .user-info > .username {
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.post-bloc > .content > .posts > .user-info > .username:hover, .post-bloc > .content > .posts > .user-info > .username:focus {
  color: #217ab9;
  outline: 0;
}

.post-bloc > .content > .posts > .user-info > .etat {
  text-align: center;
  display: block;
}

.post-bloc > .content > .posts > .user-info > .avatar {
  text-align: center;
  display: block;
  margin: 15px 0;
}

.post-bloc > .content > .posts > .user-info > .avatar > img {
  width: 85px;
  height: 85px;
}

.post-bloc > .content > .posts > .user-info > .rang {
  text-align: center;
}

.post-bloc > .content > .posts > .user-info > .rang > .name {
  display: block;
}

.post-bloc > .content > .posts > .user-info > .rang > .rating {
  display: block;
}

.post-bloc > .content > .posts > .user-info > .info {
  border-top: 1px dashed #217ab9;
  padding-top: 10px;
}

.post-bloc > .content > .posts > .user-info > .info > li > .name {
  text-align: left;
}

.post-bloc > .content > .posts > .user-info > .info > li > .value {
  float: right;
  text-align: right;
}

.post-bloc > .content > .posts > .user-info > .stats {
  border-top: 1px dashed #217ab9;
  padding-top: 10px;
}

.post-bloc > .content > .posts > .user-info > .stats > li > .name {
  text-align: left;
}

.post-bloc > .content > .posts > .user-info > .stats > li > .value {
  float: right;
  text-align: right;
}

.post-bloc > .content > .posts > .message {
  min-height: 350px;
  padding: 5px 10px;
}

.post-bloc > .content > .posts > .message > .post_head {
  font-size: 11px;
  padding-bottom: 4px;
  margin-bottom: 15px;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count {
  float: right;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count > a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.post-bloc > .content > .posts > .message > .post_head > .post_count > a:hover, .post-bloc > .content > .posts > .message > .post_head > .post_count > a:focus {
  color: #217ab9;
  outline: 0;
}

.post-bloc > .content > .posts > .message > .post_cont a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.post-bloc > .content > .posts > .message > .post_cont a:hover, .post-bloc > .content > .posts > .message > .post_cont a:focus {
  color: #217ab9;
  outline: 0;
}

.post-bloc > .content > .posts > .action {
  padding: 5px 10px;
  border-top: 1px dashed #217ab9;
  text-align: right;
}

.post-bloc > .content > .posts > .action > a {
  text-decoration: none;
  -webkit-transition: all .15s ease-out;
  transition: all .15s ease-out;
  color: #254760;
  line-height: 1.2;
  font-weight: 600;
}

.post-bloc > .content > .posts > .action > a:hover, .post-bloc > .content > .posts > .action > a:focus {
  color: #217ab9;
  outline: 0;
}

.post-reply {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.post-reply:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.post-reply > .title {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.post-reply > .content {
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  border: 1px solid #254760;
  background: #ffffff;
}

.post-reply > .content > form {
  padding: 15px;
}

.post-reply > .content > form > .form-group > .col-form-label {
  text-align: center;
}

.post-reply > .content > form > .form-group > .col-sm-10 > textarea {
  margin-top: 15px;
}

.post-reply > .content > form > .form-group > .col-sm-10 > button {
  float: right;
  margin-top: 15px;
}

.page-bloc {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.page-bloc:hover {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.page-bloc:nth-child(1n+2) {
  margin-top: 3%;
}

.page-bloc > .title {
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  background: #254760;
  color: #ffffff;
  padding: 15px;
}

.page-bloc > .title > small {
  display: block;
}

.page-bloc > .content {
  border: 1px solid #254760;
  border-bottom-right-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  background: #ffffff;
}

.page-bloc > .content.faq > a {
  padding: 5px;
  color: #254760;
  font-weight: bold;
  display: block;
}

.page-bloc > .content.faq > a:hover {
  color: #217ab9;
  text-decoration: none;
}

.page-bloc > .content.faq > .collapse {
  padding: 5px 15px;
}

.page-bloc > .content.faq > .collapse > .card {
  border: 1px solid #217ab9;
  border-radius: 0.25rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-top: 2%;
  background: #254760;
}

.footer .footer-about > p {
  font-size: 14px;
  line-height: 22px;
}

.footer .footer-about > .social > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.footer .footer-about > .social > ul > li {
  float: left;
}

.footer .footer-about > .social > ul > li > a {
  display: block;
  margin-right: 15px;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #eeeeee;
}

.footer .footer-about > .social > ul > li > a:hover, .footer .footer-about > .social > ul > li > a:focus {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer .footer-useful-links > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-useful-links > ul > li {
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 4px;
}

.footer .footer-useful-links > ul > li > a {
  border-bottom: 1px dotted #fff;
  display: block;
  margin: 2px 0;
  padding-bottom: 5px;
  text-transform: capitalize;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #eeeeee;
}

.footer .footer-useful-links > ul > li > a:hover, .footer .footer-useful-links > ul > li > a:focus {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.footer .footer-useful-links > ul > li > span {
  border-bottom: 1px dotted #fff;
  display: block;
  margin: 2px 0;
  padding-bottom: 5px;
  text-transform: capitalize;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
  color: #eeeeee;
  cursor: pointer;
}

.footer .footer-useful-links > ul > li > span:hover, .footer .footer-useful-links > ul > li > span:focus {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: #254760;
  color: #ffffff;
  width: 50px;
  height: 48px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.scroll-top-wrapper:hover {
  background-color: #1a3344;
}

.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 1.0;
}

.scroll-top-wrapper i.fa {
  line-height: inherit;
}

/*************** SCROLLBAR BASE CSS ***************/
.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 !important;
  position: relative;
}

.scroll-wrapper > .scroll-content {
  border: none !important;
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
  height: auto;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none !important;
  overflow: scroll !important;
  padding: 0;
  position: relative !important;
  top: 0;
  width: auto !important;
}

.scroll-wrapper > .scroll-content::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-wrapper.scroll--rtl {
  direction: rtl;
}

.scroll-element {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: none;
}

.scroll-element div {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
  cursor: default;
}

.scroll-element.scroll-x.scroll-scrollx_visible, .scroll-element.scroll-y.scroll-scrolly_visible {
  display: block;
}

.scroll-textarea {
  border: 1px solid #cccccc;
  border-top-color: #999999;
}

.scroll-textarea > .scroll-content {
  overflow: hidden !important;
}

.scroll-textarea > .scroll-content > textarea {
  border: none !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100% !important;
  margin: 0;
  max-height: none !important;
  max-width: none !important;
  overflow: scroll !important;
  outline: none;
  padding: 2px;
  position: relative !important;
  top: 0;
  width: 100% !important;
}

.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.scroll-chatbox-messages > .scroll-element,
.scroll-chatbox-messages > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-chatbox-messages > .scroll-element {
  background-color: #ffffff;
}

.scroll-chatbox-messages > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}

.scroll-chatbox-messages > .scroll-element .scroll-element_outer,
.scroll-chatbox-messages > .scroll-element .scroll-element_track,
.scroll-chatbox-messages > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-chatbox-messages > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
}

.scroll-chatbox-messages > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}

.scroll-chatbox-messages > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* scrollbar height/width & offset from container borders */
.scroll-chatbox-messages > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}

.scroll-chatbox-messages > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}

.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}

.scroll-chatbox-users > .scroll-element,
.scroll-chatbox-users > .scroll-element div {
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.scroll-chatbox-users > .scroll-element {
  background-color: #ffffff;
}

.scroll-chatbox-users > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-x {
  bottom: 0;
  height: 12px;
  left: 0;
  width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-y {
  height: 100%;
  right: 0;
  top: 0;
  width: 12px;
}

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-element_outer {
  height: 8px;
  top: 2px;
}

.scroll-chatbox-users > .scroll-element.scroll-y .scroll-element_outer {
  left: 2px;
  width: 8px;
}

.scroll-chatbox-users > .scroll-element .scroll-element_outer {
  overflow: hidden;
}

.scroll-chatbox-users > .scroll-element .scroll-element_track {
  background-color: #eeeeee;
}

.scroll-chatbox-users > .scroll-element .scroll-element_outer,
.scroll-chatbox-users > .scroll-element .scroll-element_track,
.scroll-chatbox-users > .scroll-element .scroll-bar {
  border-radius: 8px;
}

.scroll-chatbox-users > .scroll-element .scroll-bar {
  background-color: #d9d9d9;
}

.scroll-chatbox-users > .scroll-element .scroll-bar:hover {
  background-color: #c2c2c2;
}

.scroll-chatbox-users > .scroll-element.scroll-draggable .scroll-bar {
  background-color: #919191;
}

/* scrollbar height/width & offset from container borders */
.scroll-chatbox-users > .scroll-content.scroll-scrolly_visible {
  left: -12px;
  margin-left: 12px;
}

.scroll-chatbox-users > .scroll-content.scroll-scrollx_visible {
  top: -12px;
  margin-top: 12px;
}

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-bar {
  min-width: 10px;
}

.scroll-chatbox-users > .scroll-element.scroll-y .scroll-bar {
  min-height: 10px;
}

/* update scrollbar offset if both scrolls are visible */
.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
  left: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
  top: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -14px;
}

.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -14px;
}

.jq-toast-wrap {
  display: block;
  position: fixed;
  width: 250px;
  pointer-events: none !important;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
  z-index: 9000 !important;
}

.jq-toast-wrap * {
  margin: 0;
  padding: 0;
}

.jq-toast-wrap.bottom-left {
  bottom: 20px;
  left: 20px;
}

.jq-toast-wrap.bottom-right {
  bottom: 20px;
  right: 40px;
}

.jq-toast-wrap.top-left {
  top: 20px;
  left: 20px;
}

.jq-toast-wrap.top-right {
  top: 20px;
  right: 40px;
}

.jq-toast-single {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0px 0px 5px;
  border-radius: 4px;
  font-size: 12px;
  font-family: arial, sans-serif;
  line-height: 17px;
  position: relative;
  pointer-events: all !important;
  background-color: #444444;
  color: white;
}

.jq-toast-single h2 {
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 0px 0px 7px;
  background: none;
  color: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

.jq-toast-single a {
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid white;
  padding-bottom: 3px;
  font-size: 12px;
}

.jq-toast-single ul {
  margin: 0px 0px 0px 15px;
  background: none;
  padding: 0px;
}

.jq-toast-single ul li {
  list-style-type: disc !important;
  line-height: 17px;
  background: none;
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}

.close-jq-toast-single {
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 14px;
  cursor: pointer;
}

.jq-toast-loader {
  display: block;
  position: absolute;
  top: -2px;
  height: 5px;
  width: 0%;
  left: 0;
  border-radius: 5px;
  background: red;
}

.jq-toast-loaded {
  width: 100%;
}

.jq-has-icon {
  padding: 10px 10px 10px 50px;
  background-repeat: no-repeat;
  background-position: 10px;
}

.jq-icon-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=");
  background-color: #31708f;
  color: #d9edf7;
  border-color: #bce8f1;
}

.jq-icon-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=");
  background-color: #8a6d3b;
  color: #fcf8e3;
  border-color: #faebcc;
}

.jq-icon-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=");
  background-color: #a94442;
  color: #f2dede;
  border-color: #ebccd1;
}

.jq-icon-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==");
  color: #dff0d8;
  background-color: #3c763d;
  border-color: #d6e9c6;
}
