{% if not app.session.has('logged') %}
    <div class="sidebar-bloc">
        <div class="title bg-purple rounded-top">
            Hello, Guest!
        </div>
        <div class="content rounded-bottom">
            Please <a href="#">Register</a>, or <a href="#">Login</a> to see entire forum content...
        </div>
    </div>
{% endif %}
<div class="sidebar-bloc">
    <div class="title bg-purple rounded-top">
        {% trans from 'layout'%}sidebar.info.title{% endtrans %}
    </div>
    <div class="content rounded-bottom">
        Forum slug : {{ slug_forum }}
    </div>
</div>
<div class="sidebar-bloc">
    <div class="title bg-purple rounded-top">
        {% trans from 'layout'%}sidebar.stats.title{% endtrans %}
    </div>
    <div class="content rounded-bottom">
        <ul>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
            <li>
                <img src="https://dummyimage.com/30/000/fff.png" alt="deathart" class="rounded d-none d-lg-block">
                <span class="info">
                    <a href="#" class="recent-post">Global Topic in Information C…</a>
                    <small>
                        {% trans with {'%name%': 'Deathart'} from 'layout'%}sidebar.bloc_latest_posts.author{% endtrans %} Thu Jun 22, 2017 9:38 am
                    </small>
                </span>
            </li>
        </ul>
    </div>
</div>