/*************** SCROLLBAR BASE CSS ***************/

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;

    & > .scroll-content {
        border: none !important;
        box-sizing: content-box !important;
        height: auto;
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none !important;
        overflow: scroll !important;
        padding: 0;
        position: relative !important;
        top: 0;
        width: auto !important;

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    }
    &.scroll--rtl {
        direction: rtl;
    }
}

.scroll-element {
    box-sizing: content-box;
    display: none;

    div {
        box-sizing: content-box;
    }
    .scroll-bar,
    .scroll-arrow {
        cursor: default;
    }

    &.scroll-x.scroll-scrollx_visible,
    &.scroll-y.scroll-scrolly_visible {
        display: block;
    }
}

.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;

    & > .scroll-content {
        overflow: hidden !important;

        & > textarea {
            border: none !important;
            box-sizing: border-box;
            height: 100% !important;
            margin: 0;
            max-height: none !important;
            max-width: none !important;
            overflow: scroll !important;
            outline: none;
            padding: 2px;
            position: relative !important;
            top: 0;
            width: 100% !important;

            &::-webkit-scrollbar {
                height: 0;
                width: 0;
            }
        }
    }
}

.scroll-chatbox-messages > .scroll-element,
.scroll-chatbox-messages > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroll-chatbox-messages > .scroll-element {
    background-color: #ffffff;
}

.scroll-chatbox-messages > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}

.scroll-chatbox-messages > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }

.scroll-chatbox-messages > .scroll-element .scroll-element_outer { overflow: hidden; }
.scroll-chatbox-messages > .scroll-element .scroll-element_track { background-color: #eeeeee; }

.scroll-chatbox-messages > .scroll-element .scroll-element_outer,
.scroll-chatbox-messages > .scroll-element .scroll-element_track,
.scroll-chatbox-messages > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scroll-chatbox-messages > .scroll-element .scroll-bar { background-color: #d9d9d9; }
.scroll-chatbox-messages > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.scroll-chatbox-messages > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* scrollbar height/width & offset from container borders */

.scroll-chatbox-messages > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scroll-chatbox-messages > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.scroll-chatbox-messages > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scroll-chatbox-messages > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }


/* update scrollbar offset if both scrolls are visible */

.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

.scroll-chatbox-messages > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scroll-chatbox-messages > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }

.scroll-chatbox-users > .scroll-element,
.scroll-chatbox-users > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}

.scroll-chatbox-users > .scroll-element {
    background-color: #ffffff;
}

.scroll-chatbox-users > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-x {
    bottom: 0;
    height: 12px;
    left: 0;
    width: 100%;
}

.scroll-chatbox-users > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 12px;
}

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-element_outer { height: 8px; top: 2px; }
.scroll-chatbox-users > .scroll-element.scroll-y .scroll-element_outer { left: 2px; width: 8px; }

.scroll-chatbox-users > .scroll-element .scroll-element_outer { overflow: hidden; }
.scroll-chatbox-users > .scroll-element .scroll-element_track { background-color: #eeeeee; }

.scroll-chatbox-users > .scroll-element .scroll-element_outer,
.scroll-chatbox-users > .scroll-element .scroll-element_track,
.scroll-chatbox-users > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.scroll-chatbox-users > .scroll-element .scroll-bar { background-color: #d9d9d9; }
.scroll-chatbox-users > .scroll-element .scroll-bar:hover { background-color: #c2c2c2; }
.scroll-chatbox-users > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }


/* scrollbar height/width & offset from container borders */

.scroll-chatbox-users > .scroll-content.scroll-scrolly_visible { left: -12px; margin-left: 12px; }
.scroll-chatbox-users > .scroll-content.scroll-scrollx_visible { top:  -12px; margin-top:  12px; }

.scroll-chatbox-users > .scroll-element.scroll-x .scroll-bar { min-width: 10px; }
.scroll-chatbox-users > .scroll-element.scroll-y .scroll-bar { min-height: 10px; }


/* update scrollbar offset if both scrolls are visible */

.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -14px; }
.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -14px; }

.scroll-chatbox-users > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -14px; }
.scroll-chatbox-users > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -14px; }