<div class="chatbox-bloc">
    <div class="title bg-purple rounded-top">
        {% trans from 'chatbox'%}title{% endtrans %}
        <a href="#" class="float-right" data-toggle="tooltip" data-placement="top" title="{% trans from 'chatbox'%}newwindow{% endtrans %}">
            <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
        <span class="float-right">
            <i class="fa fa-expand expand-chat" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{% trans from 'chatbox'%}expand{% endtrans %}"></i>
        </span>
    </div>
    <div class="content rounded-bottom">
        <div class="row">
            <div class="col-9 chat">
                <div class="message scroll-chatbox-messages">
                    <ul>
                        <li class="float-left clearfix">
                            <span class="chat-img float-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <a href="#">Deathart <i class="fa fa-circle text-warning" aria-hidden="true"></i></a>
                                    <small class="float-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-right clearfix">
                            <span class="chat-img float-right">
                                <img src="http://placehold.it/40/FA6F57/fff&text=ME" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 15 mins ago
                                    </small>
                                    <a href="#" class="float-right"><i class="fa fa-circle text-success" aria-hidden="true"></i> Deathart</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-left clearfix">
                            <span class="chat-img float-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <a href="#">Deathart <i class="fa fa-circle text-warning" aria-hidden="true"></i></a>
                                    <small class="float-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-left clearfix">
                            <span class="chat-img float-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <a href="#">Deathart <i class="fa fa-circle text-warning" aria-hidden="true"></i></a>
                                    <small class="float-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-left clearfix">
                            <span class="chat-img float-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <a href="#">Deathart <i class="fa fa-circle text-warning" aria-hidden="true"></i></a>
                                    <small class="float-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-right clearfix">
                            <span class="chat-img float-right">
                                <img src="http://placehold.it/40/FA6F57/fff&text=ME" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 15 mins ago
                                    </small>
                                    <a href="#" class="float-right"><i class="fa fa-circle text-success" aria-hidden="true"></i> Deathart</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-right clearfix">
                            <span class="chat-img float-right">
                                <img src="http://placehold.it/40/FA6F57/fff&text=ME" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small>
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 15 mins ago
                                    </small>
                                    <a href="#" class="float-right"><i class="fa fa-circle text-success" aria-hidden="true"></i> Deathart</a>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                        <li class="float-left clearfix">
                            <span class="chat-img float-left">
                                <img src="http://placehold.it/40/55C1E7/fff&text=U" alt="User Avatar" class="rounded-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <a href="#">Deathart <i class="fa fa-circle text-warning" aria-hidden="true"></i></a>
                                    <small class="float-right">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 14 mins ago
                                    </small>
                                </div>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare
                                    dolor, quis ullamcorper ligula sodales.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <form class="form-inline">
                    <input class="form-control" type="text" placeholder="{% trans from 'chatbox'%}content.form.input{% endtrans %}." />
                    <button class="btn btn-theme" type="submit">{% trans from 'chatbox'%}content.form.btn{% endtrans %}</button>
                </form>
            </div>
            <div class="col-3 users scroll-chatbox-users">
                <ul class="list-unstyled">
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                    <li>
                        <a href="#"><img src="https://dummyimage.com/20x20/000/fff.png" /> Deathart</a> <small><i class="fa fa-circle text-warning" aria-hidden="true"></i> Absent for 5min</small>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>