<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
        {% for data in css %}
            <link rel="stylesheet" type="text/css" href="{{ absolute_url(asset(data.file)) }}" />
        {% endfor %}
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% for data in js %}
            <script type="text/javascript" src="{{ absolute_url(asset(data.file)) }}"></script>
        {% endfor %}
    </body>
</html>
